.row {
	position:relative;
	width:100%;
	height:100%;
}

.panel-setting {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:80px;

}

.start-group {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:170px;
	
	
}

.setting-group {
	position:absolute;
	top:0px;
	left:170px;
	right:0px;
	bottom:0px;
}

.setting-group .line {
	padding:2px;
}

.setting-group .line:first-child {
	margin-top:10px;
}

.setting-group .line label {
	float:left;
	width: 80px;
	text-align:right;
	padding-top:5px;
	margin-right: 10px;
}

.setting-group .line .list {
	float:left;
	width: 300px;
	margin-right: 10px;	
}

.setting-group .line .list-opt {
	float:left;
	width: 100px;
	margin-right: 10px;	
}

.setting-group .line .link {
	float:left;
	width: 300px;
	margin-right: 10px;	
}

.button {
	cursor:pointer;
}

.panel-list {
	position:absolute;
	top:80px;
	left:0px;
	right:0px;
	bottom : 0px;
}

.control-panel {
	position:absolute;
	border-top:1px solid #EEEEEE;
	top:0px;
	height:50px;
	left:0px;
	right:0px;
	
	text-align:right;

}

.list-panel {
	position:absolute;
	top:50px;
	bottom:0px;
	left:0px;
	right:0px;
	padding:10px;
	
	overflow:auto;
}

.list-panel table,
.list-panel td,
.list-panel th
 {
	border:1px solid #CCCCCC;
}

.list-panel table {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	border-collapse: collapse;
	background: white;	
}

.list-panel table thead {
	background:#333333;
	color:#BBBBBB;
}

.list-panel table tbody {
	overflow:auto;
}

.list-panel td,
.list-panel th
 {
	padding:4px;
}
